.dashboard-body {
  padding: 0px;
}
.dashboard-header {
  padding: 10px 20px 20px 20px;
}
.dashboard-header div.breadcrumb {
  padding-top: 20px;
}
.panel-body.html {
  padding: 0px !important;
}
.dashboard-body .dashboard-row {
  margin: 0 auto 30px auto;
  width: 70%;
  min-width: 1000px;
}
#cim_setup_container {
  border: 1px solid #ccc;
}
#cim_setup_container .header {
  padding: 20px;
}
#cim_setup_container .modal-footer {
  padding: 20px 10px 20px 10px;
}
#cim_setup_container .alert {
  font-size: 12px;
}
#cim_setup_container .alert .icon-alert {
  font-size: 150%;
  position: absolute;
  left: 10px;
  top: 5px;
}
.selectModelColumns {
  position: relative;
}
.layoutBodyColumns {
  top: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  bottom: 0;
  background-color: #fff;
  overflow: auto;
}
.layoutColLeft {
  width: 360px;
  background-color: #eee;
}
.layoutCol {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}
.layoutColRight {
  right: 0;
  left: 360px;
}
.layoutColRight .tab-pane {
  margin: 12px 0 12px 20px;
}
.layoutRow {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 600px;
}
.scroll-y {
  overflow-y: auto;
}
#initial_prompt {
  left: 0;
  right: 0;
  top: 80px;
  position: absolute;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: #999;
}
.inputForm {
  margin: 20px;
}
.datamodel_head {
  font-size: 16px;
  padding: 20px;
  border-right: 1px solid #ccc;
}
.datamodel_item {
  padding: 10px 30px 10px 20px;
  position: relative;
  font-size: 14px;
  border-right: 1px solid #ccc;
  margin-left: 40px;
  cursor: pointer;
}
.datamodel_item:hover {
  background: #DDD;
}
.datamodel_list .link-wrap {
  display: block;
  text-decoration: none !important;
}
.datamodel_item.selected {
  color: #666;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: 0px;
}
.datamodel_name {
  line-height: 20px;
}
.indexes_list {
  color: #999;
  font-size: 11px;
}
.more {
  text-decoration: underline;
  color: #1e93c6;
  cursor: pointer;
  padding-left: 0.5em;
}
.col-visibility label.checkbox {
  padding: 2px 0px 2px 0px;
}
.btn.nopointer {
  pointer-events: none;
  cursor: default;
}
.filter-control {
  margin: 20px 0 10px 0;
}
.filter-control a.control-clear {
  position: relative;
  left: -25px;
  top: 3px;
  line-height: 22px;
  font-size: 18px;
  color: #999999;
}

.table-chrome.table-striped>tbody>tr:nth-child(odd)>td {
  min-width: 20px;
}

.nav.nav-tabs {
  border-top-style: none;
}

.control.btn-group {
  padding-top: 5px;
}

a.dropdown-toggle.disabled {
  color: #999
}

.timepicker-control-menu .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shared-controls-multiinputcontrol {
	display: inline-block
}
